
@{
    ViewBag.Title = "Jugar";
}
    <script src="~/Content/js/tateti.js"></script>

<h2>Jugar</h2>


<input fila="1" id="btn11"
       onclick="Jugar(this)"
       type="button"
       class="btn btn-primary" value="?" />
<input fila="1" id="btn12" onclick="Jugar(this)" type="button" class="btn btn-primary" value="?" />
<input fila="1" id="btn13" onclick="Jugar(this)" type="button" class="btn btn-primary" value="?" />
<br />
<input fila="2" id="btn21" onclick="Jugar(this)" type="button" class="btn btn-primary" value="?" />
<input id="btn22" onclick="Jugar(this)" type="button" class="btn btn-primary" value="?" />
<input id="btn23" onclick="Jugar(this)" type="button" class="btn btn-primary" value="?" />
<br />
<input id="btn31" onclick="Jugar(this)" type="button" class="btn btn-primary" value="?" />
<input id="btn32" onclick="Jugar(this)" type="button" class="btn btn-primary" value="?" />
<input id="btn33" onclick="Jugar(this)" type="button" class="btn btn-primary" value="?" />
