@model Servidor.Entidades.Usuario
@{
    ViewBag.Title = "Logueado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Logueado</h2>

Usted esta bien logueado!

<hr />

Nombre de usuario Logueado = @Model.Id <br />
Nombre de usuario Logueado = @Model.Nombre <br />
Nombre de usuario Logueado = @Model.Apellido <br />


