
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="Login" method="get">
    <label>Ingresa tu nombre!</label>
    <input type="text" id="txtNombre" name="Nombre" />
    <input type="submit" value="Aceptar" />
</form>

