
@{
    ViewBag.Title = "Logueados";
}

<h2>Logueados</h2>

aca vamos a mostrar de una manera magica quien se logeo y luego quien esta logueado

<hr />
Bienvenido : @ViewBag.UsuarioLogueador.Nombre
<hr />
Lista de Mensajes <br />
@foreach (var mensaje in @ViewBag.UsuarioLogueador.Mensajes)
{
    @mensaje
    <br />
}
<hr />
@foreach (Servidor.Models.Usuario usuario in ViewBag.Usuarios)
{
    @usuario.Nombre
    <br />
}

